/* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 0 20px;
}

/* Encabezado y menú de navegación */
header {
  background-color: #2572df;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Contenedor principal */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Secciones */
section {
  background: #fff;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

section h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333;
}

section p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.6;
}

strong {
  font-weight: bold;
  color: #555;
}

/* Estilos de las imágenes */
#devicePhotos img {
  width: 640px;
  height: 480px;
  object-fit: cover;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#devicePhotos img:hover {
  opacity: 0.85;
  transform: scale(1.02);
}

/* Modal Styles */
.modal {
  display: none; /* Ocultar por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw; /* Ocupar todo el ancho de la ventana */
  height: 100vh; /* Ocupar todo el alto de la ventana */
  background-color: rgba(0,0,0,0.4); /* Semi-transparent background */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* Clase para mostrar y centrar el modal */
.modal.show {
  display: flex; /* Mostrar como flex */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  position: relative; /* Asegura que los elementos hijos con posición absoluta se posicionen relativamente a este contenedor */
}

.closeContainer {
  position: relative; /* Asegura que los elementos hijos con posición absoluta se posicionen relativamente a este contenedor */
  display: inline-block; /* Ajusta el tamaño del contenedor al tamaño de su contenido */
}

/* Close Button Styles */
.close {
  color: black;
  z-index: 1001;
  background-color: white;
  border: 2px solid grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close:hover,
.close:focus {
  transform: scale(1.5);
}

/* Estilo para el contenedor de la imagen dentro del modal */
#modalImageContainer {
  display: flex; /* Usar Flexbox */
  padding: 10px;
  text-align: center;
}

/* Estilo para la imagen dentro del modal */
#modalImageContainer img.modal-content {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  display: block;
  border-radius: 30px;
}

/* Formulario de comentarios */
#commentForm {
  margin-top: 20px;
}

#commentForm label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 1.1em;
}

#commentForm input,
#commentForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

#commentForm button {
  background-color: #2572df;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

#commentForm button:hover {
  background-color: #0056a0;
}

/* Lista de comentarios */
#commentsList {
  margin-top: 20px;
  list-style: none;
  padding: 0; /* Eliminar el padding para que los comentarios estén alineados */
}

#commentsList li {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9; /* Cambiar a un tono gris claro para más contraste */
  border-radius: 8px; /* Hacer las esquinas más redondeadas */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Aumentar la sombra para un efecto más definido */
  border: 1px solid #e0e0e0; /* Agregar un borde sutil para más definición */
}

#commentsList li strong {
  display: block;
  font-size: 14px; /* Reducir el tamaño de la fuente para el nombre */
  font-weight: bold;
  color: #333; /* Cambiar el color a un tono gris oscuro */
  margin-bottom: 5px;
}

#commentsList li span {
  font-size: 12px; /* Tamaño de fuente más pequeño para la fecha */
  color: #777; /* Color gris claro para la fecha */
  display: block;
  margin-bottom: 10px;
}

#commentsList li p {
  margin: 0; /* Eliminar margen superior e inferior */
  font-size: 14px; /* Tamaño de fuente ligeramente más grande para el texto */
  line-height: 1.6;
  color: #555; /* Cambiar el color a un tono gris intermedio */
}

#loadMoreButton {
  display: block; /* Asegura que el botón se muestre como un bloque para ocupar todo el ancho */
  width: 100%; /* Ocupa todo el ancho disponible */
  background-color: #2572df; /* Mismo color de fondo que el botón del formulario */
  color: #fff; /* Texto blanco */
  padding: 10px 15px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 1.1em; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor a un puntero */
  text-align: center; /* Centra el texto */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
  margin-top: 20px; /* Espacio superior */
  margin-bottom: 20px; /* Espacio inferior */
}

#loadMoreButton:hover {
  background-color: #0056a0; /* Color de fondo más oscuro al pasar el mouse */
}


/* Pie de página */
footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  font-size: 1em;
}

