/* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 0 20px;
}

/* Encabezado y menú de navegación */
header {
  background-color: #2572df;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 4px solid #0056a0;
}

header h1 {
  margin-bottom: 10px;
  font-size: 2em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Contenedor centrado */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto; /* Permite desplazamiento horizontal si el contenido lo requiere */
}

/* Sección principal */
section {
  background: #fff;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de la tabla */
table {
  width: 100%; /* Tabla ocupa todo el ancho */
  border-collapse: collapse;
  margin: 20px 0;
  table-layout: auto;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  word-wrap: break-word;
}

th {
  background-color: #2572df;
  color: white;
}

tbody tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

td img {
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #2572df;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination .button:hover {
  background-color: #1b59b5;
}

/* Estilos para el botón deshabilitado */
.pagination .button.disabled {
  pointer-events: none;
  background-color: #cccccc;
  color: #6e6e6e;
  border: 1px solid #999999;
  opacity: 0.7;
  cursor: default;
}

.pagination .button.disabled:hover {
  background-color: #cccccc;
}

.pagination .current-page {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #eeeeee;
  color: #333;
  border-radius: 5px;
  pointer-events: none;
}

/* Pie de página */
footer {
  text-align: center;
  margin-top: 30px;
  color: #777;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
}

footer p {
  font-size: 1em;
}
