<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Donaciones Dispositivos Electrónicos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <header>
    <h1>Donaciones de Dispositivos Electrónicos</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('agregar_donacion') }}">Agregar Donación</a></li>
        <li><a href="{{ url_for('ver_dispositivos') }}">Ver Dispositivos</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h2>Bienvenido a nuestro sistema de donaciones</h2>
      <p>Eres invitado a donar tu dispositivo en desuso para que puedan ser reutilizados o reciclados. 
        ¡Gracias por cuidar el medio ambiente!</p>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Donaciones de dispositivos electrónicos</p>
  </footer>
</body>
</html>