<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Donaciones Dispositivos Electrónicos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <header>
    <h1>Donaciones de Dispositivos Electrónicos</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('agregar_donacion') }}">Agregar Donación</a></li>
        <li><a href="{{ url_for('ver_dispositivos') }}">Ver Dispositivos</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h2>Bienvenido a nuestro sistema de donaciones</h2>
      <p>Eres invitado a donar tu dispositivo en desuso para que puedan ser reutilizados o reciclados. 
        ¡Gracias por cuidar el medio ambiente!</p>
    </section>

    <!-- Sección para el gráfico de Tipos de Dispositivos -->
    <section>
      <h2>Estadísticas de Donaciones</h2>
      <p>Como a nuestros usuarios les encanta saber el flujo de donadores
        de nuestra plataforma, hemos creado algunos gráficos para que puedas
        ver la distribución de donaciones por tipo de dispositivo y por comuna.
      </p>

      <h3>Gráfico de Tipos de Dispositivos</h3>
      <div id="graficoDispositivos" style="width:100%; height:400px;"></div>

    <!-- Sección para el gráfico de Contactos por Comuna -->
      <h3>Gráfico de Contactos por Comuna</h3>
      <div id="graficoContactos" style="width:100%; height:400px;"></div>
    </section>

  </main>
  <footer>
    <p>&copy; 2024 Donaciones de dispositivos electrónicos</p>
  </footer>

  <!-- Referencia al archivo JavaScript para los gráficos -->
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>